Repository InteliJR/Imobiliaria, pull requests merged in 2024-12, with the labels that each got.

#238 Integracao telas usuarios
  src/Auth-service/Layer.Application/Controllers/AccountController.cs
  src/Auth-service/Layer.Application/Controllers/ColaboradorController.cs
  src/Auth-service/Layer.Application/Controllers/EmailController.cs
  src/Auth-service/Layer.Application/Controllers/LocadorController.cs
  src/Auth-service/Layer.Application/Controllers/LocatarioController.cs
  src/Auth-service/Layer.Application/Controllers/UserController.cs
  src/Auth-service/Layer.Application/Models/ColaboradorUserModel.cs
  src/Auth-service/Layer.Application/Models/NoColaboradorUserModel.cs
  src/Auth-service/Layer.Application/Models/UpdateColaboradorModel.cs
  src/Auth-service/Layer.Domain/Entities/Colaborador.cs
  src/Auth-service/Layer.Domain/Entities/Locador.cs
  src/Auth-service/Layer.Domain/Entities/Locatario.cs
  src/Auth-service/Layer.Domain/Entities/User.cs
  src/Auth-service/Layer.Domain/Entities/UserDetailsModel.cs
  src/Auth-service/Layer.Domain/Interfaces/IEmailSender.cs
  src/Auth-service/Layer.Domain/Interfaces/IUserService.cs
  src/Auth-service/Layer.Infrastructure/Database/ApplicationDbContext.cs
  src/Auth-service/Layer.Services/Services/EmailSenderService.cs
  src/Auth-service/Layer.Services/Services/UserService.cs
  src/Property-service/Layer.Application/Program.cs
  src/docker-compose.yml
  src/frontend/src/mobile/components/Form/FormField.tsx
  src/frontend/src/mobile/components/Form/FormFieldFilter.tsx
  src/frontend/src/mobile/pages/EditarPerfil.tsx
  src/frontend/src/mobile/pages/Login.tsx
  src/frontend/src/mobile/pages/OutrosPerfis.tsx
  src/frontend/src/mobile/pages/Perfil.tsx
  src/frontend/src/mobile/pages/VisualizarUsuarios.tsx
  src/frontend/src/services/axiosConfig.ts
  src/frontend/src/services/tokenConfig.ts
Labels: backend, frontend, Integration

#258 Integra página de criação de imóveis (desktop e mobile)
  src/Property-service/Layer.Application/Models/NewImoveis.cs
  src/frontend/src/components/Form/FormField.tsx
  src/frontend/src/desktop/components/Form/FormField.tsx
  src/frontend/src/desktop/pages/CreateProperty.tsx
  src/frontend/src/mobile/pages/CreateProperty.tsx
  src/frontend/src/services/apiService.ts
Labels: backend, frontend, Integration

#272 Integrando tela de criar chamados
  src/Property-service/Layer.Application/Controllers/ChamadosController.cs
  src/Property-service/Layer.Application/Models/NewChamado.cs
  src/Property-service/Layer.Domain/Entites/Chamados.cs
  src/frontend/src/desktop/pages/CreateTicket.tsx
  src/frontend/src/mobile/pages/CreateTicket.tsx
Labels: Integration

#276 FEAT | Integration with firebase for upload images
  src/Property-service/Layer.Application/Controllers/ChamadosController.cs
  src/Property-service/Layer.Application/Controllers/ImoveisController.cs
  src/Property-service/Layer.Application/Layer.Application.csproj
  src/Property-service/Layer.Application/Program.cs
  src/Property-service/Layer.Domain/Class1.cs
  src/Property-service/Layer.Domain/Entites/Imoveis.cs
  src/Property-service/Layer.Domain/Interfaces/IChamadosRepository.cs
  src/Property-service/Layer.Domain/Interfaces/IimoveisRepository.cs
  src/Property-service/Layer.Insfrastructure/Class1.cs
  src/Property-service/Layer.Insfrastructure/Database/ApplicationDbContext.cs
  src/Property-service/Layer.Insfrastructure/Layer.Insfrastructure.csproj
  src/Property-service/Layer.Services/Class1.cs
  src/Property-service/Layer.Services/Layer.Services.csproj
  src/Property-service/Layer.Services/Services/ChamadosService.cs
  src/Property-service/Layer.Services/Services/ImoveisService.cs
  src/script.sh
Labels: backend

#275 Integra a página de login no desktop
  src/frontend/.gitignore
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/desktop/pages/Login.tsx
  src/frontend/src/mobile/pages/Chamado.tsx
  src/frontend/src/mobile/pages/Login.tsx
  src/frontend/src/services/axiosConfig.ts
  src/frontend/tsconfig.json
Labels: backend, frontend, Integration

#278 fix: corrige erros de typescript gerados ao buildar a aplicação
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/WhatsAppBtn.tsx
  src/frontend/src/desktop/pages/CreateProperty.tsx
  src/frontend/src/mobile/pages/CreateProperty.tsx
  src/frontend/src/mobile/pages/Perfil.tsx
  src/frontend/tsconfig.app.tsbuildinfo
Labels: frontend

#280 feat: adiciona botao de whatsapp na landingpage
  src/frontend/src/components/Botoes/WhatsAppBtn.tsx
  src/frontend/src/desktop/pages/Landing.tsx
  src/frontend/src/mobile/pages/Landing.tsx
  src/frontend/tsconfig.app.tsbuildinfo
Labels: feature, frontend

#281 feat: cria componente de carregamento e reestrutura algumas páginas
  src/frontend/src/components/Botoes/Voltar.tsx
  src/frontend/src/components/Loading.tsx
  src/frontend/src/desktop/components/Chamados.tsx
  src/frontend/src/desktop/components/Dashboard.tsx
  src/frontend/src/desktop/components/Imoveis.tsx
  src/frontend/src/desktop/components/Usuarios.tsx
  src/frontend/src/desktop/pages/CreateProperty.tsx
  src/frontend/src/desktop/pages/CreateTicket.tsx
  src/frontend/src/desktop/pages/CreateUser.tsx
  src/frontend/src/desktop/pages/Login.tsx
  src/frontend/src/desktop/pages/VisualizarChamados.tsx
  src/frontend/src/desktop/pages/VisualizarImoveis.tsx
  src/frontend/src/desktop/pages/VisualizarUsuarios.tsx
  src/frontend/src/main.tsx
  src/frontend/src/mobile/pages/AlterarSenha.tsx
  src/frontend/src/mobile/pages/Chamado.tsx
  src/frontend/src/mobile/pages/CreateProperty.tsx
  src/frontend/src/mobile/pages/CreateTicket.tsx
  src/frontend/src/mobile/pages/CreateUser.tsx
  src/frontend/src/mobile/pages/Dashboard.tsx
  src/frontend/src/mobile/pages/EditarPerfil.tsx
  src/frontend/src/mobile/pages/Login.tsx
  src/frontend/src/mobile/pages/OutrosPerfis.tsx
  src/frontend/src/mobile/pages/Perfil.tsx
  src/frontend/src/mobile/pages/VisualizarChamados.tsx
  src/frontend/src/mobile/pages/VisualizarImoveis.tsx
  src/frontend/src/mobile/pages/VisualizarUsuarios.tsx
Labels: feature, frontend

#283 frontend: bloqueio de visualizacao de rotas no front com base em roles
  src/frontend/src/components/Router/ProtectedRouter.tsx
  src/frontend/src/hooks/useAuth.ts
  src/frontend/src/main.tsx
Labels: frontend

#282 feat: conserta componente de menu
  src/frontend/index.html
  src/frontend/public/Menu.svg
  src/frontend/src/components/Navbar/Menu.tsx
  src/frontend/src/components/Navbar/Navbar.tsx
  src/frontend/src/desktop/components/Dashboard.tsx
  src/frontend/src/desktop/pages/CreateProperty.tsx
  src/frontend/src/desktop/pages/CreateTicket.tsx
  src/frontend/src/desktop/pages/CreateUser.tsx
  src/frontend/src/desktop/pages/Landing.tsx
  src/frontend/src/desktop/pages/Login.tsx
  src/frontend/src/desktop/pages/NotFound.tsx
  src/frontend/src/desktop/pages/VisualizarChamados.tsx
  src/frontend/src/desktop/pages/VisualizarImoveis.tsx
  src/frontend/src/desktop/pages/VisualizarUsuarios.tsx
  src/frontend/src/main.tsx
  src/frontend/src/mobile/components/Navbar/Menu.tsx
  src/frontend/src/mobile/components/Navbar/Navbar.tsx
  src/frontend/src/mobile/components/Navbar/NavbarLogin.tsx
  src/frontend/src/mobile/pages/AlterarSenha.tsx
  src/frontend/src/mobile/pages/Chamado.tsx
  src/frontend/src/mobile/pages/CreateProperty.tsx
  src/frontend/src/mobile/pages/CreateTicket.tsx
  src/frontend/src/mobile/pages/CreateUser.tsx
  src/frontend/src/mobile/pages/Dashboard.tsx
  src/frontend/src/mobile/pages/EditarPerfil.tsx
  src/frontend/src/mobile/pages/Landing.tsx
  src/frontend/src/mobile/pages/Login.tsx
  src/frontend/src/mobile/pages/OutrosPerfis.tsx
  src/frontend/src/mobile/pages/Perfil.tsx
  src/frontend/src/mobile/pages/Profile.tsx
  src/frontend/src/mobile/pages/VisualizarChamados.tsx
  src/frontend/src/mobile/pages/VisualizarImoveis.tsx
  src/frontend/src/mobile/pages/VisualizarUsuarios.tsx
  src/frontend/tsconfig.app.tsbuildinfo
Labels: feature, frontend

#285 FEAT | property infos and payments for frontend
  src/Payment-service/Layer.Application/Controllers/PaymentController.cs
  src/Payment-service/Layer.Domain/Entities/Contratos.cs
  src/Payment-service/Layer.Domain/Interfaces/IPaymentService.cs
  src/Payment-service/Layer.Infrastructure/Database/ApplicationDbContext.cs
  src/Payment-service/Layer.Services/Services/PaymentService.cs
  src/Property-service/Layer.Application/Controllers/ChamadosController.cs
  src/Property-service/Layer.Application/Controllers/ImoveisController.cs
  src/Property-service/Layer.Domain/Interfaces/IimoveisRepository.cs
  src/Property-service/Layer.Services/Services/ChamadosService.cs
  src/Property-service/Layer.Services/Services/ImoveisService.cs
Labels: backend

#291 add: getImoveisById with verification for 'locatario' or 'locador'
  src/Property-service/Layer.Application/Controllers/ImoveisController.cs
Labels: backend
