Repository InteliJR/Imobiliaria, pull requests merged in 2024-10, with the labels that each got.

#128 feat: desenvolve o frontend da landing page #118
  src/frontend/src/App.tsx
  src/frontend/src/assets/landingPage/houseBg.jpg
  src/frontend/src/assets/landingPage/houseDown.png
  src/frontend/src/assets/landingPage/houseUp.png
  src/frontend/src/assets/landingPage/logo.svg
  src/frontend/src/assets/landingPage/logoSimplified.svg
  src/frontend/src/components/Landing/FeaturesSection.tsx
  src/frontend/src/components/Landing/WelcomeBanner.tsx
  src/frontend/src/components/Navbar/Navbar.tsx
  src/frontend/src/index.css
  src/frontend/src/pages/Landing.tsx
Labels: frontend

#132 fix: fixes footer component path on Landing.tsx
  src/frontend/src/pages/Landing.tsx
Labels: frontend

#131 feat: Adiciona CRUD do servico de pagamentos
  .gitignore
  src/.vs/VSWorkspaceState.json
  src/.vs/src/FileContentIndex/2eb21148-49e7-4d25-a781-7e117d8d2e55.vsidx
  src/.vs/src/FileContentIndex/9b4e2264-1cff-47b8-a985-5032459d4124.vsidx
  src/.vs/src/v17/.wsuo
  src/.vs/src/v17/DocumentLayout.json
  src/Payment-service/Auth-service.sln
  src/Payment-service/ClassLibrary1/Class1.cs
  src/Payment-service/ClassLibrary1/ClassLibrary1.csproj
  src/Payment-service/Layer.Application/Controllers/CountryController.cs
  src/Payment-service/Layer.Application/Controllers/PaymentController.cs
  src/Payment-service/Layer.Application/Controllers/UserController.cs
  src/Payment-service/Layer.Application/Controllers/UserServiceControler.cs
  src/Payment-service/Layer.Application/Layer.Application.csproj
  src/Payment-service/Layer.Application/Models/LoginModel.cs
  src/Payment-service/Layer.Application/Models/NewLocadorModel.cs
  src/Payment-service/Layer.Application/Models/NewUserModel.cs
  src/Payment-service/Layer.Application/Models/UpdateLocadorModel.cs
  src/Payment-service/Layer.Application/Models/UserLoginModel.cs
  src/Payment-service/Layer.Application/Program.cs
  src/Payment-service/Layer.Application/Properties/launchSettings.json
  src/Payment-service/Layer.Application/appsettings.json
  src/Payment-service/Layer.Domain/DTO/CountryApiResponseDTO.cs
  src/Payment-service/Layer.Domain/DTO/CreatePaymentDTO.cs
  src/Payment-service/Layer.Domain/Entities/JwtSettings.cs
  src/Payment-service/Layer.Domain/Entities/Payment.cs
  src/Payment-service/Layer.Domain/Entities/User.cs
  src/Payment-service/Layer.Domain/Enums/Roles.cs
  src/Payment-service/Layer.Domain/Interfaces/ICountryService.cs
  src/Payment-service/Layer.Domain/Interfaces/IPaymentService.cs
  src/Payment-service/Layer.Domain/Interfaces/ITokenService.cs
  src/Payment-service/Layer.Domain/Interfaces/IUserService.cs
  src/Payment-service/Layer.Domain/Layer.Domain.csproj
  src/Payment-service/Layer.Infrastructure/Database/ApplicationDbContext.cs
  src/Payment-service/Layer.Infrastructure/Layer.Infrastructure.csproj
  src/Payment-service/Layer.Infrastructure/ServicesExternal/CountryService.cs
  src/Payment-service/Layer.Infrastructure/ServicesInternal/TokenService.cs
  src/Payment-service/Layer.Services/Layer.Services.csproj
  src/Payment-service/Layer.Services/Services/PaymentService.cs
  src/Payment-service/Layer.Services/Services/UserService.cs
Labels: backend, feature

#135 Serviço de gestão de usuários
  .gitignore
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  src/Auth-service/Dockerfile
  src/Auth-service/Layer.Application/Controllers/AccountController.cs
  src/Auth-service/Layer.Application/Controllers/ColaboradorController.cs
  src/Auth-service/Layer.Application/Controllers/EmailController.cs
  src/Auth-service/Layer.Application/Controllers/HelloWorld.cs
  src/Auth-service/Layer.Application/Controllers/LocadorController.cs
  src/Auth-service/Layer.Application/Controllers/LocatarioController.cs
  src/Auth-service/Layer.Application/Controllers/UserController.cs
  src/Auth-service/Layer.Application/Layer.Application.csproj
  src/Auth-service/Layer.Application/Models/NewColaboradorModel.cs
  src/Auth-service/Layer.Application/Models/NewLocadorModel.cs
  src/Auth-service/Layer.Application/Models/NewLocatarioModel.cs
  src/Auth-service/Layer.Application/Models/NewUserModel.cs
  src/Auth-service/Layer.Application/Models/UpdateColaboradorModel.cs
  src/Auth-service/Layer.Application/Models/UpdateLocadorModel.cs
  src/Auth-service/Layer.Application/Models/UpdateLocatarioModel.cs
  src/Auth-service/Layer.Application/Program.cs
  src/Auth-service/Layer.Application/Properties/launchSettings.json
  src/Auth-service/Layer.Application/appsettings.Development.json
  src/Auth-service/Layer.Application/appsettings.Production.json
  src/Auth-service/Layer.Domain/Entities/Colaborador.cs
  src/Auth-service/Layer.Domain/Entities/Locador.cs
  src/Auth-service/Layer.Domain/Entities/Locatario.cs
  src/Auth-service/Layer.Domain/Entities/User.cs
  src/Auth-service/Layer.Domain/Enums/Roles.cs
  src/Auth-service/Layer.Domain/Interfaces/IColaboradorService.cs
  src/Auth-service/Layer.Domain/Interfaces/IEmailSender.cs
  src/Auth-service/Layer.Domain/Interfaces/IHashingPasswordService.cs
  src/Auth-service/Layer.Domain/Interfaces/ILocadorService.cs
  src/Auth-service/Layer.Domain/Interfaces/ILocatarioService.cs
  src/Auth-service/Layer.Domain/Interfaces/IUserService.cs
  src/Auth-service/Layer.Domain/Layer.Domain.csproj
  src/Auth-service/Layer.Infrastructure/Database/ApplicationDbContext.cs
  src/Auth-service/Layer.Infrastructure/Layer.Infrastructure.csproj
  src/Auth-service/Layer.Services/Layer.Services.csproj
  src/Auth-service/Layer.Services/Services/ColaboradorService.cs
  src/Auth-service/Layer.Services/Services/EmailSenderService.cs
  src/Auth-service/Layer.Services/Services/HangfireJobsHelper.cs
  src/Auth-service/Layer.Services/Services/HashingPasswordService.cs
  src/Auth-service/Layer.Services/Services/LocadorService.cs
  src/Auth-service/Layer.Services/Services/LocatarioService.cs
  src/Auth-service/Layer.Services/Services/TokenService.cs
  src/Auth-service/Layer.Services/Services/UserService.cs
Labels: backend
