Repository InteliJR/Imobiliaria, pull requests merged in 2025-01, with the labels that each got.

#296 feat: desenvolve página de visualização e edição de contratos e pagamentos
  package-lock.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/Botoes/Botao.tsx
  src/frontend/src/components/DocumentViewer.tsx
  src/frontend/src/components/Form/ContractForm.tsx
  src/frontend/src/components/Form/PaymentForm.tsx
  src/frontend/src/components/Navbar/Menu.tsx
  src/frontend/src/components/Navbar/Navbar.tsx
  src/frontend/src/main.tsx
  src/frontend/src/mobile/pages/ContractView.tsx
  src/frontend/src/mobile/pages/CreateContract.tsx
  src/frontend/src/mobile/pages/PaymentView.tsx
Labels: feature, frontend

#298 FEAT | locador locatario home
  src/Auth-service/Layer.Application/Controllers/LocadorController.cs
  src/Auth-service/Layer.Application/Controllers/UserController.cs
  src/Auth-service/Layer.Application/Models/NewJuridicoAdmModel.cs
  src/Property-service/Layer.Application/Controllers/ContratosController.cs
  src/Property-service/Layer.Application/Controllers/ImoveisController.cs
  src/Property-service/Layer.Application/Layer.Application.csproj
  src/Property-service/Layer.Domain/Entites/Imoveis.cs
  src/Property-service/Layer.Domain/Interfaces/IimoveisRepository.cs
  src/Property-service/Layer.Domain/Layer.Domain.csproj
  src/Property-service/Layer.Services/Layer.Services.csproj
  src/Property-service/Layer.Services/Services/ContratoService.cs
  src/Property-service/Layer.Services/Services/GoogleCloudStorageService.cs
  src/Property-service/Layer.Services/Services/ImoveisService.cs
  src/Property-service/Layer.Services/Services/MarcaDeAgua.png
  src/frontend/public/ImovelSemFoto.png
  src/frontend/src/components/CardContratos.tsx
  src/frontend/src/components/Navbar/Menu.tsx
  src/frontend/src/components/Router/ProtectedRouter.tsx
  src/frontend/src/desktop/components/Imoveis.tsx
  src/frontend/src/desktop/pages/CreateUser.tsx
  src/frontend/src/desktop/pages/Login.tsx
  src/frontend/src/desktop/pages/UnauthorizedPage.tsx
  src/frontend/src/main.tsx
  src/frontend/src/mobile/components/Imoveis/Card.tsx
  src/frontend/src/mobile/components/Imoveis/ImovelImage.tsx
  src/frontend/src/mobile/pages/ChamadosImovel.tsx
  src/frontend/src/mobile/pages/CreateContract.tsx
  src/frontend/src/mobile/pages/HomeLocador.tsx
  src/frontend/src/mobile/pages/HomeLocatario.tsx
  src/frontend/src/mobile/pages/Imovel.tsx
  src/frontend/src/mobile/pages/Login.tsx
  src/frontend/src/mobile/pages/PagamentosImovel.tsx
  src/frontend/src/mobile/pages/VisualizarImoveis.tsx
  src/frontend/tsconfig.app.tsbuildinfo
Labels: frontend

#302 Comunicação entre serviços de usuários e propriedades
  src/Auth-service/Layer.Application/Controllers/UserController.cs
  src/Auth-service/Layer.Application/Program.cs
  src/Auth-service/Layer.Domain/Interfaces/IHmacService.cs
  src/Auth-service/Layer.Services/Services/HmacService.cs
  src/Payment-service/Layer.Application/Program.cs
  src/Property-service/Layer.Application/Controllers/ImoveisController.cs
  src/Property-service/Layer.Application/Layer.Application.csproj
  src/Property-service/Layer.Application/Models/ImovelInfo.cs
  src/Property-service/Layer.Application/Models/UserInfo.cs
  src/Property-service/Layer.Application/Program.cs
  src/Property-service/Layer.Insfrastructure/ExternalAPIs/IUsersAPI.cs
  src/Property-service/Layer.Insfrastructure/ExternalAPIs/UsersAPI.cs
  src/docker-compose-dev.yml
  src/frontend/src/mobile/pages/HomeLocador.tsx
  src/frontend/src/mobile/pages/HomeLocatario.tsx
  src/frontend/src/mobile/pages/VisualizarImoveis.tsx
Labels: backend, frontend

#327 Feat/opcional fields
  src/Payment-service/Layer.Application/Controllers/PaymentController.cs
  src/Property-service/Layer.Application/Controllers/ImoveisController.cs
  src/Property-service/Layer.Application/Models/ImovelInfo.cs
  src/Property-service/Layer.Application/Models/NewImoveis.cs
  src/Property-service/Layer.Application/Models/UpdateImoveis.cs
  src/Property-service/Layer.Domain/Entites/Imoveis.cs
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/Navbar/Menu.tsx
  src/frontend/src/desktop/components/Form/FormField.tsx
  src/frontend/src/desktop/components/Imoveis.tsx
  src/frontend/src/desktop/pages/CreateProperty.tsx
  src/frontend/src/desktop/pages/Login.tsx
  src/frontend/src/desktop/pages/VisualizarChamados.tsx
  src/frontend/src/desktop/pages/VisualizarContratos.tsx
  src/frontend/src/desktop/pages/VisualizarImoveis.tsx
  src/frontend/src/desktop/pages/VisualizarUsuarios.tsx
  src/frontend/src/main.tsx
  src/frontend/src/mobile/components/Payments/CardPayments.tsx
  src/frontend/src/mobile/pages/ChamadosImovel.tsx
  src/frontend/src/mobile/pages/Imovel.tsx
  src/frontend/src/mobile/pages/PagamentosImovel.tsx
  src/frontend/src/mobile/pages/PaymentView.tsx
  src/frontend/src/mobile/pages/VisualizarImoveis.tsx
  src/frontend/src/services/axiosConfig.ts
  src/frontend/src/store/atoms.ts
  src/frontend/tsconfig.app.tsbuildinfo
Labels: backend, frontend

#329 319 revisar as notificações de pagamentos back
  src/Auth-service/Layer.Application/Program.cs
  src/Payment-service/Layer.Application/Controllers/UserController.cs
  src/Payment-service/Layer.Application/Program.cs
  src/Payment-service/Layer.Domain/DTO/RentAndContractInfoDTO.cs
  src/Payment-service/Layer.Domain/DTO/UserInfoDTO.cs
  src/Payment-service/Layer.Domain/Entities/User.cs
  src/Payment-service/Layer.Domain/Interfaces/IRentService.cs
  src/Payment-service/Layer.Domain/Interfaces/IUserService.cs
  src/Payment-service/Layer.Infrastructure/Database/ApplicationDbContext.cs
  src/Payment-service/Layer.Infrastructure/ServicesInternal/IUsersAPI.cs
  src/Payment-service/Layer.Infrastructure/ServicesInternal/UsersAPI.cs
  src/Payment-service/Layer.Services/Services/PaymentReminderService.cs
  src/Payment-service/Layer.Services/Services/RentService.cs
  src/Payment-service/Layer.Services/Services/UserService.cs
Labels: backend
